<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}E-papeterie{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button"class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" >
                            
                       

                        <span class="icon-bar">  </span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
                    <a class="brand" href="{{path('ep_epapetrie_allProducts')}}">Sogip CEBO</a>
                    <div class="nav-collapse collapse">      
                         
                        <div class="nav-collapse collapse">
                           {% render(controller('EPEpapetrieBundle:Produits:recherche')) %}

                    </div>
         
                    </div>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}

        <hr />
        <footer id="footer" class="vspace20">
            <div class="container">
                <div class="row">
                    <div class="span4 offset1">
                        <h4>Informations</h4>
                        <ul class="nav nav-stacked">

                             {% render(controller('PagesPagesBundle:Pages:menu')) %}

                        </ul>
                    </div>

                    <div class="span4">
                        <h4>Notre Magasin </h4>
                        
                        {# adresse, telephone, fax des constantes twig declarées dans parameters.yml #} 
                        <p><i class="icon-map-marker"></i>&nbsp; {{ adresse }}</p>
                    </div>

                    <div class="span2">
                        <h4>Nous contacter</h4>
                        <p><i class="icon-phone"></i>&nbsp;Tel: {{ telephone }}</p>
                        <p><i class="icon-print"></i>&nbsp;Fax: {{ fax }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <p>&copy; Copyright {{ "now"|date('Y')}} - Sogip CEBO</p>
                    </div>
                </div>
            </div>
        </footer>
       <script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
       <script src="{{ asset('../js/bootstrap.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
